* {
	margin: 0;
	box-sizing: border-box;
	color: #ffe8db;
	font-family:
		"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
}

body {
	background: #000000;
}

header-el {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.8rem;
	background: #1a1a1a;
	position: sticky;
	top: 0;
}

header-el img {
	border-radius: 50%;
}

nav-menu {
	display: flex;
	gap: 0.5rem;
}

nav-menu a {
	text-decoration: none;
}

post-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color: #5682b1;
	color: #000000;
}
