* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ebdbb2;
}

body,
html {
    font-family: monospace;
    height: 100%;
    background-color: #1d2021;
}

header {
    display: flex;
    padding: 0.7rem;
    background-color: #d79921;
    /*position: sticky;*/
    top: 0;
}

main {
    display: flex;
    min-height: 100%;
}

section,
footer {
    border: 1px solid #a89984;
    margin: 0.5rem;
    padding: 1.4rem;
}

.sidebar {
    flex: 1;
    background-color: #282828;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.content {
    flex: 4;
    background-color: #32302f;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #a89984;
    padding: 0.8rem;
    gap: 1rem;
}

.user-description {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.user-description img {
    border-radius: 50%;
    width: 48px;
    height: auto;
}

footer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: #3c3836;
    margin: 0;
    border: none;
    border-top: 1px solid #a89984;
}
