* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ebdbb2;
}

body,
html {
    font-family: monospace;
    height: 100%;
    background-color: #1d2021;
}

message-board-header {
    display: inline-flex;
    padding: 0.7rem;
    background-color: #d79921;
    /*position: sticky;*/
    top: 0;
    width: 100%;
}

message-board-header nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    flex: 1;
}

message-board-header nav a {
    text-decoration: none;
}

main {
    max-width: 800px;
    display: flex;
    min-height: 100%;
    margin: 0 auto;
}

section,
footer {
    border: 1px solid #a89984;
    margin: 0.5rem;
    padding: 1.4rem;
}

.sidebar {
    flex: 0.5;
    background-color: #282828;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.content {
    flex: 4;
    background-color: #32302f;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #a89984;
    padding: 0.8rem;
    gap: 1rem;
}

.user-description {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.user-description img {
    border-radius: 50%;
    width: 32px;
    height: auto;
}

footer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: #3c3836;
    margin: 0;
    border: none;
    border-top: 1px solid #a89984;
}
